body{
    .signinform {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        background-color: #ffffff;
        border: 2px solid #727374;
        border-radius: 0.5rem;
        .uname{
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .email{
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin-bottom: -1px;
            border-radius: 0;
        }
        .pwd{
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin-bottom: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .signbtn{
            margin-top: 30px;
            text-align: center;
        }
    }
    .signmessage {
        color: #343a40;
            text-align: center;
            margin-top: 10px;
        .herf{
            color: #6bb0dd;
            &:hover{
                color: #343a40;
                text-decoration:none;
            }
        }
    }
}