body{
    
    .signmessage {
        color: #343a40;
            text-align: center;
            margin-top: 10px;
        .herf{
            color: #6bb0dd;
            &:hover{
                color: #343a40;
                text-decoration:none;
            }
        }
    }
}